# === BOTPRESS ===
BOTPRESS_TOKEN=BOTPRESSTOKEN
BOTPRESS_WORKSPACE_ID=WORKSPACEID
BOTPRESS_BOT_ID=BOTID
BOTPRESS_TABLE_NAME=TABLEID

# === FLASK ===
FLASK_ENV=development
FLASK_SECRET_KEY=CLAVE SECRETA
HOST=127.0.0.1
PORT=5001

# === BASE DE DATOS LOCAL ===
DATA_DIR=../data/bd_IA.xlsx
CLIENTES_FILE=clientes_data.json

# === SEGURIDAD ===
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:5001
CORS_ENABLED=true